[Service]
WorkingDirectory=/opt/dev-coa-converse-api
ExecStart=/usr/bin/node /opt/dev-coa-converse-api/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dev-coa-converse-2
User=apiadmin
Group=apiadmin
Environment=NODE_ENV=production PORT=5007

[Install]
WantedBy=multi-user.target

