[Service]
WorkingDirectory=/opt/devnotifications
ExecStart=/usr/bin/node /opt/devnotifications/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=devnotifications-2
User=apiadmin
Group=apiadmin
Environment=NODE_ENV=production PORT=5012

[Install]
WantedBy=multi-user.target
