note_host="hostname"
note_user="username"
note_password="password"
note_database="datastore1"
note_schema="public"

use_dev=true
dev_email="xxxx@ashevillenc.gov"

email_sender="asheville_notifications@ashevillenc.gov"
email_hash_key="xxxxxxx"
unsub_url="https://dev-notifications-frontend.ashevillenc.gov/unsubscribe/"
